body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.inline-block {
    display: inline-block;
}

.content-wrapper {
    max-width: 680px;
    margin: 0 auto;
}

.content {
    margin-top: 20px;
    width: 100%;
}

.content .search #searchfield {
    width: 100%;
    padding: 5px;
    margin: 16px 0;
}

.nav-tabs li {
    width: 33%;
    text-align: center;
}

.nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover {
    color: orange;
}

.movie-listing {
    width: 100%;
    border: 1px solid gray;
    max-height: 200px;
    display: flex;
}

.movie-listing .listing-poster {
    display: inline-block;
    width: 20%;
}

.movie-listing .listing-poster img {
    height: 180px;
    padding: 10px;
}

.movie-listing .listing-details {
    display: inline-block;
    width: 80%;
    padding: 30px 20px;
}

.movie-listing .listing-details .movie-name {
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
}

.movie-listing .listing-details .movie-rating {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
}

.movie-listing .listing-details .movie-showtime {
    padding: 2px;
}


@media (max-width: 600px) {
    .content-wrapper {
        width: 80%;
    }

    .nav-tabs li {
        width: 100%;
        margin: 2px;
    }

    .movie-listing {
        display: block;
        max-height: 500px;
    }

    .movie-listing .listing-poster {
        display: block;
        width: 100%;
    }

    .movie-listing .listing-poster img {
        display: block;
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .movie-listing .listing-details {
        display: block;
        width: 100%;
    }

    .nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover {
        border: 1px solid #ddd;
        background: orange;
        color: white;
    }

}