<div class="movie-listing">
    <div class="listing-poster inline-block">
        <img src="{{ movie_listing.movie.poster_url }}">
    </div>
    <div class="listing-details inline-block">
        <div class="movie-name-and-rating">
            <div class="movie-name inline-block">{{ movie_listing.movie.title }}</div>
            <div class="movie-rating inline-block">({{ movie_listing.movie.rating }})</div>
        </div>
        <div class="movie-showtimes">
            {% for showtime in movie_listing.get_all_showtimes %}
                <div class="movie-showtime inline-block">{{ showtime.showtime }}</div>
            {% endfor %}
        </div>
    </div>
</div>